.vscode
data/*.db
*__pycache__
.history
*.idea
*node_modules
Asymmetric/java/KriptaRSA/nbproject/private/
Asymmetric/java/KriptaRSA/build/
Asymmetric/java/KriptaRSA/dist/
Symmetric/java/KriptaAES/nbproject/private/
Symmetric/java/KriptaAES/build/
Symmetric/java/KriptaAES/dist/
*.lock
